<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <script src="static/script.js"></script> 
  <title>GRAZIA PIZZERIA</title>
  <!-- Page icon-->
  <link rel="icon" type="image/x-icon" href="static/logo.png">
  <!-- Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet">
</head>

  <body>

  <!-- CRETE HERO SECTION -->
  <div class="hero">
    <!-- hero-section image-->
    <img src="static/hero-image.png" alt="hero-image" style="width:100%">
    <!-- hero-section menu-->
    <div class="header-content">
      <nav> <!--left nav bar-->
          <ul class="left_nav_links">
            <li class="clickable-div" id="scroll-to-section0"><a href="#About" style="text-decoration: none; color: white">Conheça-nos</a></li>
            <li class="clickable-div" id="scroll-to-section1"><a href="#Nossa" style="text-decoration: none; color: white">Nossa pizza</a></li>
            <li class="clickable-div" id="scroll-to-section2"><a href="#Cardapio" style="text-decoration: none; color: white">Cardápio</a></li>
          </ul>
      <img src="static/logo_dark.png" alt="Logo" class="logo", width=250px> <!--logo in hte midle-->
        <!--right nav bar-->
          <ul class="right_nav_links">
            <li class="clickable-div" id="scroll-to-section4"><a href="#Depoimentos" style="text-decoration: none; color: white">Depoimentos</a></li>
            <li class="clickable-div" id="scroll-to-section5"><a href="#Contacto" style="text-decoration: none; color: white">Contacto</a></li>
            <li class="clickable-div" id="scroll-to-section5"><a href="#Informação" style="text-decoration: none; color: white">Informações</a></li>
          </ul>
      </nav>
      <button class="menu-icon" id="menu-icon">&#9776;</button>
    </div>

     <!-- welcome info -->
     <div class="welcome-container">
      <p style="margin-bottom:0vw;">Bem-vindo </p>
      <p style="margin : 0vw; padding-top:0vw;"></pstyle>à GRAZIA</p>
      <p style="margin : 0vw; padding-top:0vw;"></p>PIZZEIRA</p>
    </div>

    <!-- Contact square -->
    <div class="contact-container">
      <p>Entre em contacto connosco</p>
    </div>

    <!-- Scroll down text and square -->
    <div class="scroll-down-container" id="scroll-shape">
      <span>Scroll down</span>
      <div class="scroll-down-square" onclick="scrollToSection()">
          <img src="static/logo.png" alt="Arrow" class="arrow" style="width: 60%; height: 60%; object-fit: contain;">
      </div>
  </div>
  </div>