<!DOCTYPE html>
<html lang="pt">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NWL83Q3H');</script>
  <!-- End Google Tag Manager -->
 
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">    <!-- Linking swiper-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>  <!-- Linking swiper-->
  <script src="static/script.js"></script> 
  <title>GRAZIA PIZZERIA</title>
  <link rel="icon" type="image/x-icon" href="static/logo.png">
  <!-- Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
</head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWL83Q3H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- CRETE HERO SECTION -->


<!-- CRETE HERO SECTION -->
<header class="hero-header">
  <img src="static/logo-dark.png" alt="Logo" class="hero-logo">
</header>

<div class="hero" style="position: relative; width: 100%; height: auto;" id= "Hero">
  <!--<img id="heroImage" src="static/ahero.jpeg" alt="hero-image" class="responsive-image" width="100%"> -->
  <div class="navigation_bar"><!-- hero-section Menu-->
      <div class="hero_container" >
          <nav>
              <ul class="nav-links-left" id="links-nav">
                <li class="clickable-div" id="scroll-to-section"><a href="#About" style="text-decoration: none; color: rgba(42,42,42)">Conheça-nos</a></li>
                <li class="clickable-div" id="scroll-to-section"><a href="#Nossa" style="text-decoration: none; color: rgba(42,42,42)" >Nossa pizza</a></li>
                <li class="clickable-div" id="scroll-to-section"><a href="#Cardapio" style="text-decoration: none; color: rgba(42,42,42)" >Cardápio</a></li>
              </ul>
              <ul class="nav-links-right" id="links-nav">
                <li class="clickable-div" id="scroll-to-section"><a href="#Galeria" style="text-decoration: none; color: rgba(42,42,42)" >Galeria</a></li>
                <li class="clickable-div" id="scroll-to-section"><a href="#Depoimentos" style="text-decoration: none; color: rgba(42,42,42)">Depoimentos</a></li>
                <li class="clickable-div" id="scroll-to-section"><a href="#Informacao" style="text-decoration: none; color: rgba(42,42,42)" >Informações</a></li>
              </ul>
          </nav>
          <!--hamburguer dropdown icon-->
            <button class="menu-icon" id="menu-icon">&#9776;</button>
           <!-- Mobile dropdown menu -->
            <div id="mobile-menu" class="mobile-menu">
             <a href="#About">Conheça-nos</a>
             <a href="#Nossa">Nossa pizza</a>
             <a href="#Cardapio">Cardápio</a>
             <a href="#Galeria">Galeria</a>
             <a href="#Depoimentos">Depoimentos</a>
             <a href="#Informacao">Informações</a>
            <a href="#Contato">Contacto</a>
            </div>
    </div>
</div>

  
    <!-- welcome info -->
     <div class="welcome-container">
      <p style="margin-bottom:0vw;" class="welcome_title">Bem-vindo</p>
      <p style="margin : 0vw; padding-top:0vw;" class="welcome_title">à GRAZIA</p>
      <p style="margin : 0vw; padding-top:0vw;" class="welcome_title">PIZZERIA</p>
      <p class="hidden-welcome">Bem vindo à</p>
      <p class="hidden-welcome">GRAZIA PIZZERIA</p>
      <p class="welcome_p"> Eleve o seu evento com a sofisticação de uma jornada</p> 
      <p class="welcome_p"> gastronômica, apreciando a autêntica pizza napoletana.</p>
    </div>

  
    <!-- Contact square -->
    <div class="contact_position">
      <div class="contact-container" onclick="scrollToContact('Contato')">
        <p>Entre em contacto connosco</p>
      </div>
    </div>

    <!-- Scroll down text and square -->
    <div class="scroll-down-container" id="scroll-shape">
      <span>Scroll down</span>
      <div class="scroll-down-square" onclick="scrollToSection()">
          <img src="static/arrow(2).png" alt="Arrow" class="arrow" style="width: 60%; height: 60%; object-fit: contain;">
      </div>
  </div>
</div>


 <!-- CRETE ABOUT US SECTION -->
 <div class="container", id="About">
   <h2 class="hidden_about la-belle-aurore-regular">Conheça-nos</h2>
  <div class="about">
      <img src="static/pizza_about.jpg" alt="pizza_about" class="image_about">
      <div class="text-content">
         <div class="title_about">
          <h2 class="la-belle-aurore-regular">Conheça-nos</h2>
         </div>
          <p class="about_text"> 
            Na Grazia Pizzeria, oferecemos uma experiência gastronômica incomparável, onde a tradição se funde
            com a sofisticação e a inovação. Nossas pizzas Napoletanas são elaboradas com ingredientes importados diretamente da
            Itália e finalizadas com produtos selecionados à mão, proporcionando uma experiência idêntica à das melhores
            pizzerias de Nápoles. Cada pizza que servimos transforma-se em uma experiência memorável.
            Com um menu cuidadosamente elaborado, temos o prazer de participar de eventos exclusivos, 
            pequenas reuniões e degustações personalizadas. Deixe-nos levar o melhor da cozinha italiana
            ao seu evento, garantindo uma jornada de sabores que ficará gravada na memória de todos.</p>
          <div class="contact-box" onclick="scrollToContacts('Contato')">
            <p>Entre em contacto connosco</p>
          </div>
      </div>
  </div>
</div>


<!-- Nossa Pizza -->
<div class="container_nossa_pizza" id="Nossa">
   <!-- Create title --> 
  <h2 class="la-belle-aurore-regular" style="font-size: 50px;">Nossa Pizza</h2> 
  <div class="container_nossa">
    <div class="container_nossa_text">
      <div class="nossa_disc">
        <h2>1. Borda Inflada</h2>
        <p class="nossa_p"> A borda inflada é a marca icônica da pizza napoletana. A alta 
          hidratação da massa somada a uma longa fermentação permitem que a
          massa seja assada a mais de 400°C em menos de 90 segundos, processo que
          intensifica o sabor da massa tornado-a mais saborosa, leve e digerível. 
          Para alcançar este resultado utilizamos uma farinha especial importada da Itália.
        </div>
      <div class="nossa_disc">
        <h2>2. Tomate San Marzano</h2>
        <p class="nossa_p"> Base de tomate San Marzano, crescido na região vulcânica do Vesúvio em Itália, que confere um sabor único à nossa pizza.</p>
      </div>
      <div class="nossa_disc">
        <h2 >3. Mozzarela di Bufala Fresca</h2>
        <p class="nossa_p">Com a sua cremosidade única e sabor suave, a muzzarela de búfala fresca confere à nossa pizza napolitana sua autenticidade e riqueza inconfundível.</p>
      </div>
      <div class="nossa_disc">
        <h2>4. Ingredientes Frescos</h2>
        <p class="nossa_p"> Todos os ingredientes são selecionado à mão para trazer uma experiência única a cada fatia de nossa pizza.</p>
      </div>
    </div>
      <img src="static/milanovo_idea.png" alt="pizza_about" class="image_nossa" width="45%">
  </div>
</div>


  <!-- CRETE MENU SECTION -->
<div class="container_cardapio", id="Cardapio">
  <div class="cardapio_title">
    <h2 class="la-belle-aurore-regular">Cardápio</h2>
  </div>

    <div class="Pizz">
      <h2 class="Pizza">MARGHERITA</h2>
      <p class= "description"> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Azeite e Manjericão</p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">CAPRESE</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Tomate Defumado Molho Pesto e Manjericão</p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">PRIMAVERA</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Queijo Brie, Geleia de Damasco e Manjericão </p>
      </p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">TIRRENO</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Peito de Peru, Catupiry, Geleia de Amora e Manjericão</p>
      </p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">DI PARMA</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Presunto Parma, Tomate Cereja e Rúcula</p> 
      </p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">BIANCA</h2>
      <p class= "description "> Molho de Queijo Parmesão, Mussarela de Búfala Fresca, Mortadela, Tomate Cereja, Pistache, Ricota, Manjericão e Molho Pesto</p>
      </p>
    </div>

    <div class="Pizz">
      <h2 class="Pizza">FIORENZA</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Brie, Presunto Parma, Geleia de Damasco, Castanha de Caju e Hortelã</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">FIGARO</h2>
      <p class= "description "> Queijo Mascarpone, Mussarela de Búfala Fresca, Queijo Parmesão, Presunto Parma, Figo, Rúcula e Mel</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">FIOCCO</h2>
      <p class= "description "> Creme de Leite, Presunto Cotto, Mussarela de Búfala Fresca, Flocos de Batata, Parmesão, Pimenta do reino e Azeite</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">PEPPERONI</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Pepperoni, Geleia de pimenta defumada</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">QUATRO FORMAGI</h2>
      <p class= "description ">Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Queijo Brie e Queino Gorgonzola</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">DI POLLO</h2>
      <p class= "description ">Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Frango temperado e Catupiry</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">CALABRESA</h2>
      <p class= "description "> Molho de Tomate San Marzano, Mussarela de Búfala Fresca, Queijo Parmesão, Calabresa e Cebola Roxa Caramelizada</p>
      </p>
    </div>

    <div class="Pizzas hidden">
      <h2 class="Pizza">TROVATA</h2>
      <p class= "description "> Mel, Mussarela de Búfala Fresca, Fatias de Pêra e Queijo Gorgonzola</p>
      </p>
    </div>

                                                                <!--Butões -->
  <div class="text-container">
    <button class="bt" id="showMoreBtn" onclick="showMore()">
      <img src="static/arrow(2).png" alt="Logo" class="arrow1" style="width: 70%; height: 70%; object-fit: contain;">
    </button>
    <span class="span-container" id="showMoreText">Cardápio completo</span>
  </div>

  <div class="text-container">
      <button class="bt1" id="showLessBtn" onclick="showLess()" style="display: none;">
        <img src="static/seta.png" alt="Logo" class="arrow1" style="width: 70%; height: 70%; object-fit: contain;">
      </button>
      <span class="span-container" id="showLessText" style="display: none;">Fechar cardápio</span>
  </div>
</div>

 <!-- GALERIA -->   
  <div class="galeria_container", id="Galeria">
  <div class="galeira_title">
    <h2 class="la-belle-aurore-regular">Galeria</h2>
  </div>

  <div class="containter_gallery">
    <div class="item img1"> <img  src="static/pexels.jpg"></div>
    <div class="item img2"><img  src="static/andiamo.jpg"></div>
    <div class="item img3"><img  src="static/parma.jpg"></div>
    <div class="item img4"><img  src="static/top.jpeg"></div>
    <div class="item img5"><img  src="static/vege.jpg"></div>
    <div class="item img6"><img  src="static/pistache.jpg"> </div>
    <div class="item img7"><img  src="static/tomate.jpg"></div>
    <div class="item img8"><img  src="static/parma2.jpg"></div> 
    <div class="item img9"><img  src="static/wine.jpeg"></div>
    <div class="item img10"><img  src="static/andiamo_cut.jpg"></div>
    <div class="item img11"><img  src="static/Pizza tirreno 1.jpeg"></div> 
    <div class="item img12"><img  src="static/fiorenza 5.jpeg"></div>
    <div class="item img13"><img  src="static/pepperoni2.png"></div>
 </div>

    <div class="container_gallery1" id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <div class="item img1"> <img class="image" src="static/pexels.jpg" draggable="false"></div>
        <div class="item img2"><img  class="image" src="static/andiamo.jpg"  draggable="false"></div>
        <div class="item img3"><img  class="image" src="static/parma.jpg"  draggable="false"></div>
        <div class="item img4"><img  class="image" src="static/top.jpeg" draggable="false"></div>
        <div class="item img5"><img  class="image" src="static/vege.jpg" draggable="false"></div>
        <div class="item img6"><img  class="image" src="static/pistache.jpg" draggable="false"> </div>
        <div class="item img7"><img  class="image" src="static/tomate.jpg" draggable="false"></div>
        <div class="item img8"><img  class="image" src="static/parma2.jpg" draggable="false"></div> 
        <div class="item img9"><img  class="image" src="static/wine.jpeg" draggable="false"></div>
        <div class="item img10"><img  class="image" src="static/andiamo_cut.jpg" draggable="false"></div>
        <div class="item img11"><img  class="image" src="static/Pizza tirreno 1.jpeg" draggable="false"></div> 
        <div class="item img12"><img  class="image" src="static/fiorenza 5.jpeg" draggable="false"></div>
        <div class="item img13"><img  class="image" src="static/pepperoni2.png" draggable="false"></div>
     </div>
</div>


<!--DEPOIMENTOS-->
<div class="container_depoimentos", id="Depoimentos">
  <div class="depoimentos_container">
    <h2 class="la-belle-aurore-regular">Depoimentos</h2>
  </div>
  <!--Galeria de Depoimentos-->
  <div class="container-body">

      <div class="swiper">
        <div class="swiper-wrapper">
          <!--Depoimento 1-->
          <div class="swiper-slide">
            <img src="static/p_grazi.png" alt="User image" class="user-image">
            <h2 class="user-name">Grazi Leão</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Nós simplesmente amámos, uma delícia, pizzas suaves e intensas ao mesmo tempo, saborosíssimas!!</p>
          </div>
           <!--Depoimento 2-->
           <div class="swiper-slide">
            <img src="static/p_alexandre.png" alt="User image" class="user-image">
            <h2 class="user-name">Alexandre Valarse</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Excelentes as pizzas! Impressionante a qualidade.</p>
          </div>
          <!--Depoimento 3-->
          <div class="swiper-slide">
            <img src="static/p_christiano_mota.png" alt="User image" class="user-image">
            <h2 class="user-name">Christiano Mota</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Legítima pizza italiana. Saborosa, massa deliciosa, molho ótimo. Estão de parabéns.</p>
          </div>
          <!--Depoimento 4-->
          <div class="swiper-slide">
            <img src="static/p_youssef.png" alt="User image" class="user-image">
            <h2 class="user-name">Youssef</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Melhor pizza da nossa vida. Fantástica, deliciosa, autêntica, uma borda de ir ao céu e voltar!</p>
          </div>
          <!--Depoimento 5-->
          <div class="swiper-slide">
            <img src="static/p_maria.png" alt="User image" class="user-image">
            <h2 class="user-name">Maria Frota</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Massa excelente, levinha e muito bem fermentada. Molho de tomate sensacional. Estão de Parabéns!</p>
          </div>
          <!--Depoimento 6-->
          <div class="swiper-slide">
            <img src="static/p_carol.png" alt="User image" class="user-image">
            <h2 class="user-name">Carol Garcia</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Bordas uma delícia! Comi com azeite e normalmente não como borda. Molho lever, mussarela de búfala deixa suave o sabor a queijo. Tudo perfeito! Nota 10.</p>
          </div>
          <!--Depoimento 7-->
          <div class="swiper-slide">
            <img src="static/p_felipev.png" alt="User image" class="user-image">
            <h2 class="user-name">Felipe V</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Pessoal veio de Maceió para experimentar a pizza. Gostaram muito. Meu primo dissque que foi a melhor que ele experimentou na vida.</p>
          </div>
          <!--Depoimento 8-->
          <div class="swiper-slide">
            <img src="static/p_luciana.png" alt="User image" class="user-image">
            <h2 class="user-name">Luciana</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Estou dando vosso contacto para todo o mundo eheh suas pizzas dão 10 a 0 de outras.</p>
          </div>
          <!--Depoimento 9-->
          <div class="swiper-slide">
            <img src="static/p_paulo.png" alt="User image" class="user-image">
            <h2 class="user-name">Paulo</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Me lembrou muito as de Itália, Roma, Veneza, Arezzo. Sabor perfeito.</p>
          </div>
          <!--Depoimento 10-->
          <div class="swiper-slide">
            <img src="static/p_joaosig.png" alt="User image" class="user-image">
            <h2 class="user-name">Joao Signorelli</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Delícia de pizzas, levinhas.</p>
          </div>
          <!--Depoimento 11-->
          <div class="swiper-slide">
            <img src="static/p_adrianav.png" alt="User image" class="user-image">
            <h2 class="user-name">Adriana Vieira</h2>
            <p class="user-expression">Comentário via Whatsapp</p>
            <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
            <p class="user-opinion">Vosso trabalho é muito bom.</p>
          </div>
            <!--Depoimento 12-->
            <div class="swiper-slide">
              <img src="static/p_bira.png" alt="User image" class="user-image">
              <h2 class="user-name">Bira</h2>
              <p class="user-expression">Comentário via Whatsapp</p>
              <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
              <p class="user-opinion">Pizzas maravilhosas!! Parabéns. Qualidade inigualável.</p>
            </div>
             <!--Depoimento 13-->
             <div class="swiper-slide">
              <img src="static/p_ursula.png" alt="User image" class="user-image">
              <h2 class="user-name">Úrsula Andrade</h2>
              <p class="user-expression">Comentário via Whatsapp</p>
              <img src="static/quote_mark.png" alt="quotes image" class="quote-image">
              <p class="user-opinion">Grata pela experiência deliciosa que nos proporcionaram.</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
  </div>
 </div>


<!--Informções-->
<div class="Informacoes_container" id="Informacao">
  <div class="informacoes_title">
    <h2 class="la-belle-aurore-regular">Informações</h2>
  </div>

  <div class="outer-div">
    <!--Location-->
    <div class="inner-div">
      <div class="image-scontainer">
        <img src="static/curitiba1.png" alt="Image">
      </div>
      <h3 class="info_title">Local de atendimento</h3>
      <p class="info_description">Atendemos Curitiba e região metropolitana. Para eventos fora dessas áreas, solicitamos que entre em contato conosco.</p>
    </div>
    <!--Service time-->
    <div class="inner-div">
      <div class="image-container">
        <img src="static/trayplate.png" alt="Image">
      </div>  
      <h3 class="info_title">Duração do evento</h3>
      <p class="info_description">Chegamos meia hora antes e após o início do evento, servimos por um período de 3 horas. Para a possibilidade de horas adicionais, entre em contacto connosco</p>
    </div>
    <!--Oven-->
    <div class="inner-div">
      <div class="image-tcontainer">
        <img src="static/forno.png" alt="Image">
    </div>
      <h3 class="info_title incluso">O que está incluso no evento</h3>
      <h3 class="info_title hidden">O que está incluso </h3>
      <p class="info_description">Forno, botijão de gás e utensílios para servir a pizza. Pratos, talheres e copos competem ao contratante que também deve assegurar o espaço de trabalho.</p>
    </div>
    <!--Peel-->
    <div class="inner-div">
      <div class="image-tcontainer">
        <img src="static/pizzapeel.png" alt="Image">
    </div>
      <h3 class="info_title">Número de pessoas</h3>
      <p class="info_description">Participamos de eventos que contemplem um mínimo de 10 participantes e um máximo de 30.</p>
    </div>
  </div>
</div>


<div class="Contacto_container" id="Contato">
  <div class="contact_title">
    <h2 class="la-belle-aurore-regular">Contato</h2>
  </div>
  <p class="contact-description"> Para solicitar orçamentos e/ou informações adicionais utilize os meios de comunicação abaixo:</p>

    <div class="container_contact">
       <!--Whatsapp square-->
      <div class="contact_square">
        <!--Circle-->
        <div class="circle">
          <img src="static/whats1.jpg" alt="Image">
        </div>
        <h3 class="cont_title">Whatsapp</h3>
        <h6 class= "cont_description">(41)996286598</h6>
        <hr>
        <!--Whatsapp button-->
        <div class="wa-me">
          <a href="https://wa.me/5541996286598" target="_blank">
            <button class="btn">Fale connosco</button></a>
        </div>
      </div>

       <!--Email square-->
       <div class="contact_square">
        <!--Circle-->
        <div class="circle">
          <img src="static/mail.jpg" alt="Image">
        </div>
        <h3 class="cont_title">Email</h3>
        <h6 class="cont_description">graziapizzeria@gmail.com</h6>
        <hr>
        <!--Mail button-->
        <div class="mail-me">
          <a href="mailto:graziapizzeria@gmail.com?subject=Pedido%20de%20orçamento&body=Gostaria%20de%20solicitar%20um%20orçamento..." target="_blank">
            <button class="btn">Fale connosco</button></a>
          </div>
      </div>

      <!--Insta square-->
      <div class="contact_square">
        <!--Circle-->
        <div class="circle">
          <img src="static/insta.png" alt="Image">
        </div>
        <h3 class="cont_title">Instagram</h3>
        <h6 class="cont_description">@graziapizzeria_</h6>
        <hr>
        <!--Mail button-->
        <div class="insta-me">
          <a href="https://www.instagram.com/graziapizzeria_/" target="_blank">
            <button class="btn">Fale connosco</button>
          </a>
        </div>
      </div>
    </div>


                              <!-- HIDEEN Values-->
    <div class="contact-list">
      <!--Whatsapp square-->
      <div class="contact_rectangle">
        <div class="circle">
          <img src="static/whats1.jpg" alt="Image">
        </div>
        <div class="wa-me">
          <a href="https://wa.me/5541996286598" target="_blank">
            <button class="btn">(41)996286598</button></a>
        </div>
      </div>

    <!--Email square-->
    <div class="contact_rectangle">
      <div class="circle">
        <img src="static/mail.jpg" alt="Image">
      </div>
      <div class="mail-me">
          <a href="mailto:graziapizzeria@gmail.com?subject=Pedido%20de%20%orçamento&body=Gostaria%20de%20a%20question" target="_blank">
            <button class="btn">graziapizzeria@gmail.com</button></a>
      </div>
    </div>

    <!--Insta square-->
    <div class="contact_rectangle">
      <div class="circle">
        <img src="static/insta.png" alt="Image">
      </div>
      <div class="insta-me">
        <a href="https://www.instagram.com/graziapizzeria_/" target="_blank">
          <button class="btn">@graziapizzeria_</button>
        </a>
      </div>
    </div>
  </div>
  
</div>



<script>

  // ------------- Update image-------------------//
function updateImage() {
    const image = document.getElementById('heroImage');
    if (window.innerWidth <= 768) {
      image.src ='static/mobile_image4.png';
    } else {
      image.src = 'static/ahero.jpeg';
    }
  }  window.addEventListener('resize', updateImage);
  window.addEventListener('load', updateImage);

  // --------------- Use wiper -----------------//
  var swiper = new Swiper('.swiper', {
    // Habilita navegação com setas
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    // Habilita a paginação (bolinhas indicativas)
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    // Define quantos slides são exibidos por vez (alterável conforme necessidade)
    slidesPerView: 6,
    // Espaçamento entre os slides
    spaceBetween: 20,
    // Efeito de transição (opcional)
    effect: 'slide', // 'fade', 'cube', 'coverflow', etc.
    // Loop dos slides
    loop: true,
    // Adiciona autoplay (opcional)
    autoplay: {
      delay: 3000, // Tempo entre as transições automáticas
      disableOnInteraction: false, // Continua após interação
    },
  });


  // Function to update slidesPerView based on screen size
  function updateSwiperSlides() {
      if (window.matchMedia("(max-width: 768px)").matches) {
          swiper.params.slidesPerView = 2;
      } else {
          swiper.params.slidesPerView = 6; // Default value for larger screens
      }
      swiper.update(); // Refresh Swiper with new parameters
  }

  // Listen for screen size changes and update swiper
  window.addEventListener('resize', updateSwiperSlides);
  // Initial call to set the correct slidesPerView on page load
  updateSwiperSlides();

  //-------- --------- AWARD WINING SCROLL ------//
  const track = document.getElementById("image-track");

const handleOnDown = (e) => {
  track.dataset.mouseDownAt = e.clientX;
};

const handleOnUp = () => {
  track.dataset.mouseDownAt = "0";  
  track.dataset.prevPercentage = track.dataset.percentage;
};

const handleOnMove = (e) => {
  if (track.dataset.mouseDownAt === "0") return;

  const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX;
  const maxDelta = window.innerWidth * 1.5;

  const percentage = (mouseDelta / maxDelta) * -100;
  const nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage;
  const nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -95);

  track.dataset.percentage = nextPercentage;

  track.animate(
    {
      transform: `translate(${nextPercentage}%, -50%)`,
    },
    { duration: 1200, fill: "forwards" }
  );

  /* for(const image of track.getElementsByClassName("image")) {
    image.animate({
      objectPosition: `${100 + nextPercentage}% center`
    }, { duration: 1200, fill: "forwards" });
  }*/
};

/* -- Adding event listeners only on the track element -- */
track.onmousedown = (e) => handleOnDown(e);
track.ontouchstart = (e) => handleOnDown(e.touches[0]);

track.onmouseup = (e) => handleOnUp(e);
track.ontouchend = (e) => handleOnUp(e.touches[0]);

track.onmousemove = (e) => handleOnMove(e);
track.ontouchmove = (e) => handleOnMove(e.touches[0]);

</script>
</body>
</html>
